body{
background-color: rgb(253, 185, 219);
}

img{
    margin-right: 7cm;
}

h1{
    text-align: center;
    font-size: xx-large; 

    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

h2 {
    margin-left: 5cm;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

  p1{
    margin-left: 2cm;
    font-size: large;
}
p2{
    margin-left: 2cm;
    font-size: large;
}
p3{
    margin-left: 2cm;
    font-size: large;
}
p4 {
    margin-left: 2cm;
    font-size: large;
}  
p5 {
    margin-left: 2cm;
    font-size: large;
}
p6{
    margin-left: 2cm;
    font-size: large;
}

p7{  margin-left: 2cm;
    font-size: large;}

    p8 { 
        margin-left: 2cm;
    font-size: large;
    }
p9{
    margin-left: 2cm;
    font-size: large;
}
p10{ margin-left: 2cm;
    font-size: large;}

    p11{ 
        margin-left: 2cm;
        font-size: large;
    }
    p12{
        font-size: medium;
        margin-left: 2cm;
    }
    p13{ 
        font-size: large;
        margin-left: 2cm;
    }
    p14{
        font-size: medium;
        margin-left: 2cm;
    }
    p15 {
        font-size: large;
        margin-left: 2cm;
    }
    p16{ 
        font-size: medium;
        margin-left: 2cm;
    }
    p17{
        font-size: large;
        margin-left: 2cm;
    }
    p18{
        font-size: medium;
        margin-left: 2cm;
    }
    p19{
        font-size: large;
        margin-left: 2cm;
    }
    p20 {
        font-size: medium;
        margin-left: 2cm;
    }
    p21 {
        font-size: large;
        margin-left: 2cm;
    }
    p22{ font-size: medium;
        margin-left: 2cm;}
        p23{
            font-size: medium;
        margin-left: 2cm;
        }

    